<div class="main">{{home}} <br>
    <input type="text" [(ngModel)]="userName" placeholder="Enter your name">
    <br>
    <button (click)="alertName(userName)">click Here</button>

    <div class="random-color">
        <div class= "demo" [style.backgroundColor]="backgroundColor"></div>
        <button (click)="getRandomColor()">Click</button>
    </div>
    <div>
        
        <app-string-concat [string1] = "string1" [string2] = "string2" (newStringEvent)="concatingString($event)"></app-string-concat>
        {{concatString}}
    </div>
    <div class="string-value">
        
    </div>
</div>
