<div class="main">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>age</th>
        <th>country</th>
      </tr>
    </thead>
    <tbody *ngFor="let users of userData; index as i">
      <tr *ngIf="users.name.length > 2" [ngClass]="{
        'row-bg-color': i % 2 == 0,
      }">
        <td [ngClass]="{
          'labelClass': users.country == 'UK',
        }">
          {{ users.name }}
        </td>
        <td>{{ users.age }}</td>
        <td>{{ users.country }}</td>
      </tr>
    </tbody>
  </table>
</div>